* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  font-weight: 600;
  list-style: none;
}

.btn {
  background-color: hsl(180, 66%, 49%);
  color: white;
  border-radius: 2rem;
  border: none;
  outline: none;
}
.btn:hover {
  background-color: hsl(180, 66%, 49%) !important;
  opacity: 0.5;
  color: white;
}

.card-title {
  font-size: 3rem !important;
}
.card-body p {
  padding: 2rem;
}

.form-shorten {
  width: 80%;
  background-color: rgb(73, 65, 105);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  gap: 2rem;
  object-fit: cover;
  padding: 3rem;
}
.form-control {
  width: 100%;
}

.shorten-btn {
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.cards {
  background-color: hsl(0, 0%, 75%);
}

.col .card {
  width: 80%;
}
.col .card h5 {
  font-size: 18px;
  font-weight: 600;
}
.col .card p {
  font-size: 1.2rem;
  color: grey;
  font-weight: 500;
}
